* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    list-style-type: none;
}
ul {
    display: flex;
}
ul li {
    display: inline-block;
    margin: 0px 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: growth 1.6s ease-in-out infinite;
}
ul li:nth-child(1) {
    background-color: skyblue;
    box-shadow: 0px 0px 10px skyblue;
}
ul li:nth-child(2) {
    background-color: green;
    animation-delay: .2s;
    box-shadow: 0px 0px 10px green;
}
ul li:nth-child(3) {
    background-color: red;
    animation-delay: .4s;
    box-shadow: 0px 0px 10px red;
}
ul li:nth-child(4) {
    background-color: white;
    animation-delay: .6s;
    box-shadow: 0px 0px 10px white;
}
ul li:nth-child(5) {
    background-color: orange;
    animation-delay: .8s;
    box-shadow: 0px 0px 10px orange;
}
ul li:nth-child(6) {
    background-color: purple;
    animation-delay: 1.0s;
    box-shadow: 0px 0px 10px purple;
}
ul li:nth-child(7) {
    background-color: pink;
    animation-delay: 1.2s;
    box-shadow: 0px 0px 10px pink;
}
@keyframes growth {
    0% {

    }
    100% {
        transform: scale(.4);
    }
    20% {
        transform: scale(1);
    }
}