body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(246, 71, 134);
}

button {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 80px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    background-color: rgba(0, 0, 0, .03);
}
button span {
    display: block;
    width: 100%;
    height: 100%;
}

button::before,
button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.2s linear;
   
}

button span::before,
button span::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0px;
    background-color: #fff;
    transition: all 0.2s linear;
   

}

button:hover::before,
button:hover::after {
    width: 100%;
    transition-delay: 0s;
}

button:hover span::before,
button:hover span::after {
    height: 100%;
    transition-delay: 0.2s;
}

button::before {
    top: 0px;
    right: 0px;
}

button::after {
    bottom: 0px;
    left: 0px;
}

button span::before {
    top: 0px;
    left: 0px;
}

button span::after {
    bottom: 0px;
    right: 0px;
}
